@media (prefers-color-scheme: light) {
    :root {
        --bg: #fff;
        --fg: #333;
        --accent: lightgrey;
        --link-normal: #00e;
        --link-visited #529;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111;
        --fg: #eee;
        --accent: #222;
        --link-normal: #3af;
        --link-visited #b8f;
    }
}

a:link {
    color: var(--link-normal);
}

a:visited {
    color: var(--link-visited);
}

header a:link,
header a:visited,
footer a:link,
footer a:visited {
    color: var(--fg);
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
}

article {
    border-left: solid;
    border-color: var(--accent);
    padding-left: 8px;
}

.message, blockquote {
    font-family: serif;
}

pre {
    overflow: scroll;
}

img {
    max-width: 100%;
}

nav, article .heading {
    display: flex;
    justify-content: space-between;
}

.posts, footer {
    margin: 16px auto;
}

.heading {
    background-color: var(--accent);
    margin: 1px;
}

nav a,
article .heading a,
article .heading button {
    margin: auto 2px;
}

.upvote, .downvote {
    display: inline;
}

textarea {
    width: 100%;
    height: 30vh;
}

footer {
    text-align: center;
}

@media screen and (min-width: 600px) {
    body {
        width: 600px;
        margin: 0 auto;
    }
}
