:root {
    font-family: sans-serif;
}

article {
    border-left: solid;
    border-color: lightgrey;
    padding-left: 8px;
}

article p {
    font-family: serif;
}

.post_header {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
}

textarea {
    width: 100%;
    height: 30vh;
}

@media screen and (min-width: 600px) {
    body {
        width: 600px;
        margin: 0 auto;
    }
}
