:root {
    font-family: sans-serif;
}

body {
    width: 600px;
    margin: 0 auto;
}

main article {
    font-family: serif;
    border-left: solid;
    border-color: lightgrey;
    padding-left: 8px;
}

.post_header {
    background-color: lightgrey;
}

.post_header .reply_button {
    float: right;
}
